.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
  padding: 80px 80px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 12px;
}

.footer__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer__list-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.footer__social-icon {
  padding-right: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;

  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0;
}
