.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset_input {
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0;
}

.form__fieldset_button {
  width: 100%;
  padding: 32px 0 32px 0;
  border: 0;
  margin: 0;
}

.form__fieldset_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border: 0;
  padding-top: 32px;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top: 32px;
}

.form__input {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  width: 385px;
  padding: 10px 10px; /* This size is not in the brief */
}

.form__button {
  width: 100%;
  padding: 20px;
  border-radius: 4px; /* This is by the brief */
  background-color: #2f80ed;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0;
  color: white;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  height: 18px;
  width: 18px;
}
